*{
    font-family: arial, sans-serif;
}
ul li a{
    text-decoration: none;
    color: brown;
}
ol li a{
    text-decoration: none;
    color: black;
}
h1{
    color: aqua;
}
h2{
    text-align: center;
}
#p1{
    color: blue;
    text-align: center;
}
.p2{
    color: chocolate; /* css lebih baik menggunakan CLASS dari pada ID */
    text-align: center;
    word-spacing: 6px;
}